body {
  padding-top: 50px;
  overflow-x: hidden;
}
@media (max-width: 979px) {
  body {
    padding-top: 40px;
  }
}

.marketing .col-lg-4 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 20px;
}

.featurette {
  margin: 0 20px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

footer {
  padding-bottom: 30px;
}
